.FeaturesBG{
    background-color: #eeeff0e0;
}
#navBg{
    background-image: linear-gradient(to right,#b054fc, #fa7ddf);
    border-radius:1rem;
}
.logo{
    width:33%;
    height:20%;
   border-radius: 100%;
   cursor: pointer;
}
/* col right */
.video{
    width:40px;
    height:40px;
    background: #fff;
    border-radius:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa7ddf;
    cursor: pointer;
}
.gallery{
    width:40px;
    height:40px;
    background: #fff;
    border-radius:2rem;
    margin-left: 0.45em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa7ddf;
    cursor: pointer;
}

.userPhoto{
    width: 25%;
    height: 20%;
    border-radius: 100%;

}
.userName{
    font-size: 1em;
    margin-left: 0.25em;
    color: #7e7e7ee7;
    font-weight: 400;
}
.sponsored{
    font-size: 0.70em;
    margin-left: 0.45em;
    margin-top: -0.25em;
    color: #fa7ddf;
}

/* list icons styles */
.home{
    color: #fa7ddf;
    font-weight: 500;
}
#home{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.live{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#video{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.match{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#matches{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.hot{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#hot{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.event{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
.event{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#events{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.chatroom{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#chat{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.group{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#groups{
    color: #fa7ddf;
    margin-right: 0.25em;
}
.blog{
    font-size: 0.95em;
    font-weight: 500;
    color: #000000bd;
}
#blogs{
    color: #fa7ddf;
    margin-right: 0.25em;
}
/* post */
#edit{
    color: #575555fb;
}
#cardHot{
    color: #fa7ddf;
    font-size: 1.2rem;
}
.caption{
    font-size: 0.85em;
    color: #000000ea;
    font-weight: 400;
}
.not{
    font-size: 0.75em;
    margin-right: 0.55em;
    font-weight: 550;
}
.newbtn{
    background: #fa7ddf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.name{
    width: 58%;
    position: absolute;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -2rem;
    color: #fff;
}
.btn{
    padding: 0px 3px;
    color: #fff;
    font-size: 0.50em;
    font-weight: 550;
}
.image{
    background-image: linear-gradient(to bottom, #000000bd, #fa7ddf);
    background-position:center;
    background-size: cover;
}
.text{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #fa7ddf;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    margin-top: -1rem;
    margin-left: 3.2rem;
}
.sponsor{
    font-size: 0.85em;
    padding: 0.3em;
    color: #272727d7;
    font-weight: 500;
}
/* col left */
.colLeftText{
    font-size: 0.95em;
    margin-left: 0.45em;
    color: #272727d7;
    font-weight: 500;
}
.colActive{
    width: 4px;
    height:3px;
    background: green;
}
/* col right */
#colRight{
    transition: all 0.5s ease;
}
#colRight:hover{
    transform: scale(1.1);
}
.cardHot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardClick{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.80em;
    margin-top: 0.40em;
    color: #fa7ddf;
    font-weight: 500;
}
.colRightImg{
    width:2rem;
    height:2rem;
    border-radius: 1rem;
}
#group{
    color: #fa7ddf;
    font-size: 1.3rem;
}
.colRightText{
    margin-left: 0.45em;
    color: #000000d7;
    font-size: 00.85em;
    font-weight: 500;
}
.colGroup{
    margin-left: 0.45em;
    font-weight: 500;
}
#down{
    font-size: 0.65em;
    color: #272727d7;
    font-weight: 500;
}
.show{
    font-size: 0.85em;
    color: #272727d7;
    font-weight: 500;
}