::-webkit-scrollbar{
    width: 8px;
    background: none;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #A025FA, #FA4AD2 );
    border-radius:10px;
}
body{
    scroll-behavior: smooth;
}
