.story-compo{
    background-color: #eeeff0d7;
    
}
.colRightImg{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width:25% !important;
    margin-top: 1rem;
    height:3.4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 0.85em;
    text-align: center;
    color: #1b1b1bc5;
}
.ProfileIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsText{
    margin-left: 0.25em;
}
.Cardicons{
    margin-right: 0.25em;
    font-size: 0.90rem;
    display: flex;
}
.FontIcons{
    margin-right: 0.25em;
}
#carrot{
    color:#FF891B;
}
#heart{
    color:#D522D6;
}
#star{
    color: #FFBB00;
}
#trophy{
   color: #FA4AD2; 
}
.Text{
    color: #0000008c;
    font-size: 0.90em;
}

/* story img */
.story{
    background-color: #fff;
    border-radius: 0.70rem;
    padding: 0.25em;
}
.create-story{
    background-color: #fff;
    border-radius: 0.70rem;
    padding: 0.25em;
}
.create-story a {
    text-decoration: none;
}
.create-img{
    width: 100%;
    height: 3.3rem;
    border-radius: 0.70rem !important;
}

.cardImage{
    width:100%;
    height:10%;
}
.storyImg{
    width:100%;
    height:100%;
    border-radius:0.70rem !important;
}
.img{
    width:100%;
    height:100%;
}
.storyProfile{
    width:76% !important;
    margin-top: 3.6rem;
    height:2rem;
    border-radius: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid #fcfffc;
   
}
.profileName{
    font-size: 0.55em;
    color: #fff;
}
.cardContent{
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom, #000, #fff); */
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 33rem;
    width:2rem;
    height:2rem;
    margin-top: -5rem;
    background-color: #fa7ddf;
    border-radius: 0.65em;
    cursor: pointer;
    

}
.rightArrow{
    color: #fdfdfd;
    font-size: 5rem;
}

.add{
    width: 26px;
    height: 26px;
    background-image: linear-gradient(to top, #fa7ddf, #b054fc);
    padding: 0.5em;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 1rem;
    border-radius: 100%;
    margin-top: -1.8rem;
}
.plus{
    font-weight: 300;
    color: #fff;
}
.CardMedia{
    border-radius: 10px;
}
/* col right */
.colRight{
    background-image: linear-gradient(to bottom, #f046cb, #9c2df7);
    color: #fff;
}
.crowns{
    padding-top: 0.5em;
    color: #fff;
    font-size: 2.5rem;
}
.btnTry{
    background-color:#ee14bf;
    border-radius: 2rem;
    border: none;
    padding: 5px 9px 5px 9px;
    font-size: 0.6rem;
    color: #fff;
    display: flex;
}


/* media query */

@media only screen and (max-width: 468px) {
    .arrow{
        display: none;
    }
    .image{
        width:15% !important;
        margin-top: 1rem;
        height:3rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #colLeft{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #colCenter{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #colCenterTwo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #colright{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
    }
  
    #form{
        width: 100%;
        background-color: #EEF3F7;
    }
        .FontIcons{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            margin-right: 0.25em;

        }
        .iconsText{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            margin-left: 1rem;
        }
        
  }
